@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


*{
    margin:0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body{
    background-color: rgb(252, 252, 252);
    font-family: 'Roboto', sans-serif;
    
}
:root{

    --primary-color:#e0b12d;
    --second-color: #5c5c5a;


}
header, footer{

    background-color:var(--primary-color);
    width: 100%;
    padding:32px;
    text-align: center;
}

.links{
    font-size: 20px;
}
.links a +a { /*faz com que a propriedade seja colocada no "a" que 
                tenha um outro "a" anterior a ele */

    margin-left: 32px;

}
.links a{
    text-decoration: none;
    color:black;
    position: relative;
}

.links a.active {
    color: white;
    }
.links a:hover{
    color:black;
}

.links a::after{ /* adicionando um elemento via CSS */

    content:"";
    width: 0;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -4px;

}

.links a:hover::after{
    width: 100%;
    transition: width 300ms ease-in-out; 
/*  transition: (A quem se aplica) (tempo) (fluides do efeitto)  */
}
/* Card instructor */

.card{
    background-color: var(--primary-color);
    width: 800px;
    min-height: 500px;
    margin: 45px auto;

    /* grid ao meeio */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 3px 6px -2px black; 

    /* animação */
    animation: up 700ms ease-out;

}

@keyframes up{

    from {

        opacity: 0;

        transform: translateY(15px)

    }to{

        opacity: 1;

    }
}

.details{

    padding: 35px;
}

.details .item{
    color:rgb(70, 65, 65);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding: 15px 0;

}
.details .item:last-child{/*  aplicando no ultimo item com a clase "item" */
    border: none;
}

.details .item div:nth-child(1){ /* aplicando na primeira div dentro da clase "item" */
    color: black;
    line-height: 18px;
    letter-spacing: 0.7;
    font-weight: normal;
}

.details .item div:nth-child(2){ /* aplicando na primeira div dentro da clase "item" */
    font-size: 18px;
}

.details h3{
    text-transform: uppercase;
    font-weight: bold;
}

.details ul{
margin-left: 30px;
}

/* FORM */

form input,select{
    width: 100%;
    outline: none;
    background-color: var(--primary-color);
    color: black;
    line-height: 18px;
    letter-spacing: 0.7;
    font-size: 16px;
    font-weight: normal;

}

input[type="radio"]{
    width: initial;
  
}

form button[type="submit"],
a.button{
    margin-top: 32px;
    padding: 8px 32px;
    width: 100%;
    background-color:var(--second-color);
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;

}

a.button{

    display:block;
    text-align: center;
    text-decoration: none;

}

#form-delete button{

    background-color: white;
    margin-top: 16px;
    color: black;
}

.table{
    display: block;
    padding: 40px;
    box-sizing: border-box;

}

.table table{

    border-spacing: 0;
}

.table thead tr th{

    text-align: left;
}

td, th{
    padding: 16px;
    border-bottom: 1px solid white;
    
}

tr td:nth-child(3){
text-align: center;
}

th {
    text-transform: uppercase;
    color: var(--second-color);
}

tbody tr:last-child td{

    border:none;
}

tbody tr td:first-child{
    display: flex;
    align-items: center;
 
}

tbody tr td:first-child span{
    margin-right: 10px;
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white ;
}

tbody tr td:last-child a,
.table > a{
    background-color: var(--second-color);
    padding: 8px 16px;
    text-decoration: none;
    color: var(--primary-color);
    border-radius:10px ;

}
tbody tr td:last-child a:hover,
.table > a:hover,
.table .header a:hover,
.table .header button:hover
{
    color: white;
}

.table > a{
    margin-bottom: 16px;
    display: inline-block

}

/* FILTERS */

.table .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.table .header form {
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    gap: 10px;
}
.table .header a,
.table .header button{
    margin:0;
    width: 120px;
    font-size: 16px;
}

.table .header input{
    box-sizing: border-box;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    padding: 6px 8px;

}
 
