{% extends 'layOut.njk' %}

{% block content %}

    <div class="card table">
        <div class="header">
            <a class= "button"href="/members/create">Novo</a>
            <form action="/instructors/" method="get">

                <input type="text" name="filter" value= "{{filter}}"placeholder="Nome ou Atendimento">

                <button type="submit">Filtrar</button>

            </form>
        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>

                        Instrutor
                    </th>

                    <th>

                        Serviços
                    </th>

                    <th>
                        Total de Alunos
                    </th>

                    <th>
                        Ação
                    </th>
                </tr>

            </thead>
            <tbody>

                {% for instrutor in instructors %}
                    <tr>

                        <td>
                            <span style="background-image: url({{instrutor.avatarurl}})"></span>
                            {{instrutor.name}}
                        </td>

                        <td>
                            {{instrutor.services}}
                        </td>

                        <td>
                            {{instrutor.total_students}}
                        </td>
                        <td>
                            <a href="/Instructors/{{instrutor.id}}">Ver</a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
            </table>
        </div>

    {% endblock content %}