{% extends 'layOut.njk' %}

{% block content %}

    <form class="card" method="POST" action="/Instructors">
        <section class="image" style="background: url(https://source.unsplash.com/collection/1647783/500x500) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Edição de instrutores</h3>
                {%include 'Instructors/form.njk'%}

        </section>
    </form>

{% endblock content %}