{% extends 'layOut.njk' %}

{% block content %}

    <div class="card">
        <section class="image" style="background: url({{member.avatarurl}}) no-repeat center center / cover"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>
                    Nome do membro</div>
                <div>{{member.name}}</div>
            </div>
             <div class="item">
                <div>E-mail</div>
                <div>{{member.email}}</div>
            </div>

            <div class="item">
                <div>Aniversario</div>
                <div>{{member.age}}</div>
            </div>
            <div class="item">
                <div>Sexo</div>
                <div>{{'Masculino' if member.gender == 'M' else 'Feminino'}}</div>
            </div>
          
           
            <div class="item">
                <div>Tipo sanguineo</div>
                <div>{{member.blood}}</div>
            </div>
            <div class="item">
                <div>Peso (KG)</div>
                <div>{{member.weight}}</div>
            </div>
            <div class="item">
                <div>Altura</div>
                <div>{{member.height}}</div>
            </div>
            <div class="item">
                <div>Aluna de:</div>
                <div>{{member.instructor_name}}</div>
            </div>
            

            <a href="/members/{{member.id}}/edit" class="button">Edição</a>

        </section>
    </div>

{% endblock content %}